<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div class="container">
    
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Novo Artigo</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr> 
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
    
    
</div>

<%- include('../../partials/footer') %>
<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        let resposta = confirm("Tem certeza que deseja deleta essa categoria?");
        if(resposta){
            event.target.submit()
        }else{
            console.log("Não foi possivel enviar o formulário, você precisa aceita-lo")
        }
    }
</script>